@font-face {
  font-family: "Gilroy";
  src: url("../font_family/Gilroy-Light.eot");
  src: url("../font_family/Gilroy-Light.eot") format("embedded-opentype"),
    url("../font_family/Gilroy-Light.woff2") format("woff2"),
    url("../font_family/Gilroy-Light.woff") format("woff"),
    url("../font_family/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: "Gilroy";
  background-image: url(../images/All_bgi.png);
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-top: 50px;
  margin-bottom: 153px;
}
/* header .header_inner {
} */
header .header_inner .header_inner_adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
header .header_inner .header_inner_adress p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
header .header_inner .header_inner_adress img {
  object-fit: contain;
  width: 14px;
  height: 13px;
  margin-right: 9px;
}
header .header_inner .header_inner_adress span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
header .header_inner .header_inner_adress a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-left: 22px;
  transition: all ease 0.5s;
}
header .header_inner .header_inner_adress a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffbd54;
}
header .header_inner .header_inner_adress a:active {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  opacity: 0.6;
}
header .header_inner .header_inner_adress .home_block {
  display: flex;
  align-items: center;
}
header .header_inner .header_inner_adress .telephone_block {
  display: flex;
  align-items: center;
}
header .header_inner .header_inner_adress .telephone_block .tel_links {
  position: relative;
}
/* header .header_inner .header_inner_adress .telephone_block .tel_links:hover {
} */
header .header_inner .header_inner_adress .telephone_block .tel_links::before {
  position: absolute;
  content: "";
  background-image: url(../images/header/top/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  top: 3px;
  left: -3px;
}
header
  .header_inner
  .header_inner_adress
  .telephone_block
  .tel_links
  .tel.second {
  position: relative;
}
header
  .header_inner
  .header_inner_adress
  .telephone_block
  .tel_links
  .tel.second::before {
  position: absolute;
  content: "";
  background-image: url(../images/header/top/yellow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
  top: 5px;
  left: -15px;
}
header .header_inner .header_inner_adress .workday_block {
  display: flex;
  align-items: center;
}
header .header_inner .header_inner_adress .workday_block .workday_left {
  display: flex;
  align-items: center;
}
header .header_inner .header_inner_adress .workday_block .workday_right {
  margin-left: 17px;
}
header .header_inner .header_inner_navigation {
  position: relative;
}
header .header_inner .header_inner_navigation::after {
  position: absolute;
  content: "";
  position: absolute;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  height: 61px;
  width: 100%;
  z-index: -1;
  top: 15px;
}
header .header_inner .header_inner_navigation .navigation {
  position: relative;
  display: flex;
  align-items: center;
}
header .header_inner .header_inner_navigation .navigation .logo {
  margin-left: -180px;
}
header .header_inner .header_inner_navigation .navigation .logo img {
  width: 177.55px;
  height: 86.23px;
  object-fit: contain;
  transition: all ease 0.5s;
}
header .header_inner .header_inner_navigation .navigation .logo img:hover {
  opacity: 0.8;
}
header .header_inner .header_inner_navigation .navigation .logo img:active {
  opacity: 0.6;
}
header .header_inner .header_inner_navigation .navigation .links {
  margin-left: 148px;
  padding: 20px;
  box-sizing: border-box;
}
header .header_inner .header_inner_navigation .navigation .links a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  /* transition: all ease 0.5s; */
}

header .header_inner .header_inner_navigation .navigation .links a:hover {
  border-bottom: 3px solid #f4ffad;
}
header .header_inner .header_inner_navigation .navigation .links a:active {
  border-bottom: 3px solid #f4ffad;
  opacity: 0.6;
}
header .header_inner .header_inner_navigation .navigation .links .first {
  position: relative;
}
header
  .header_inner
  .header_inner_navigation
  .navigation
  .links
  .first::before {
  position: absolute;
  content: "";
  background-image: url(../images/header/bottom/fish.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: -35px;
  top: 1px;
}
header
  .header_inner
  .header_inner_navigation
  .navigation
  .links
  a:nth-child(even) {
  margin-left: 55px;
}
header
  .header_inner
  .header_inner_navigation
  .navigation
  .links
  a:nth-child(odd) {
  margin-left: 55px;
}
header .header_inner .header_inner_navigation .navigation .question_block {
  margin-left: 80px;
}
header .header_inner .header_inner_navigation .navigation .question_block a {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
header
  .header_inner
  .header_inner_navigation
  .navigation
  .question_block
  a::before {
  position: absolute;
  content: "";
  background-image: url(../images/header/bottom/pet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  left: -30px;
  top: -2px;
  bottom: 0;
}
/* main {
}
main section {
} */
main section .section1 {
  margin-bottom: 132px;
}
main section .section1 .section1_inner {
  position: relative;
}
main section .section1 .section1_inner::after {
  position: absolute;
  content: "";
  background-image: url(../images/section1/bgi_cat.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 415px;
  height: 317px;
  top: -80px;
  right: 120px;
}
main section .section1 .section1_inner .section1_inner_blog {
  /* position: relative; */
  width: 660px;
  display: block;
}
/* main section .section1 .section1_inner .section1_inner_blog::after {
} */
main section .section1 .section1_inner .section1_inner_blog .title {
  font-style: normal;
  font-weight: 950;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 21px;
}
main section .section1 .section1_inner .section1_inner_blog .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 90%;
}
main section .section2 {
  margin-bottom: 126px;
}
/* main section .section2_inner {
} */
main section .section2_inner .info_block {
  display: flex;
}
main section .section2_inner .info_block .info_block_img {
  width: 558px;
}
main section .section2_inner .info_block .info_block_img img {
  width: 558px;
  height: 595px;
  object-fit: cover;
  border-radius: 3px;
}
main section .section2_inner .info_block .info_block_describe {
  width: 742px;
  height: 595px;
  padding: 68px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
main section .section2_inner .info_block .info_block_describe .info_block_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
/* main
  section
  .section2_inner
  .info_block
  .info_block_describe
  .info_block_top
  .links {
} */
main
  section
  .section2_inner
  .info_block
  .info_block_describe
  .info_block_top
  .links
  a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3d9cea;
  margin-left: 7px;
}
/* main
  section.section2_inner
  .info_block
  .info_block_describe
  .info_block_middle {
} */
main
  section
  .section2_inner
  .info_block
  .info_block_describe
  .info_block_middle
  .title {
  width: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 20px;
}
main
  section
  .section2_inner
  .info_block
  .info_block_describe
  .info_block_middle
  .describe {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 51px;
}
.learn_more {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 24px;
  transition: all ease 0.5s;
}
.learn_more:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffbd54;
}
.learn_more:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffbd54;
  opacity: 0.6;
}
.learn_more::before {
  position: absolute;
  content: "";
  background-image: url(../images/section1/pet.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 21px;
  top: -2px;
  bottom: 0;
  left: -30px;
}
main section .section3 {
  margin-bottom: 153px;
}
/* main section .section3 .section3_inner {
} */
/* main section .section3 .section3_inner .cards_block {
} */
main section .section3 .section3_inner .cards_block .card {
  transition: all ease 0.5s;
}
main section .section3 .section3_inner .cards_block .card:hover {
  box-shadow: 3px 5px #bdbdbd;
}
main section .section3 .cards_first {
  display: flex;
  margin-bottom: 60px;
}
main section .section3 .cards_second {
  display: flex;
  margin-bottom: 116px;
}
main section .section3 .cards_first .card {
  width: 305px;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
}
main section .section3 .cards_second .card {
  width: 305px;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
}
main section .section3 .card.second {
  margin-left: 30px;
}
main section .section3 .card.third {
  margin-left: 30px;
}
main section .section3 .card.fourth {
  margin-left: 30px;
}
/* main
  section
  .section3
  .section3_inner
  .cards_block
  .cards_first
  .card
  .card_top {
} */
main section .section3 .card .card_top img {
  width: 305px;
  height: 180px;
  object-fit: contain;
}
main section .section3 .card .card_middle {
  padding: 41px;
  box-sizing: border-box;
}
main section .section3 .card_middle .title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 10px;
}
main section .section3 .card_middle .title::after {
  position: absolute;
  content: "28.09.2020";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  top: -22px;
  right: -20px;
}
main section .section3 .card_middle .describe {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 37px;
}
/* main section .section3 .section3_inner {
} */
main section .section3 .section3_inner .more_news {
  display: flex;
  justify-content: center;
}
main section .section3 .section3_inner .more_news .more_news_link {
  display: block;
  position: relative;
  background: #333333;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 40px 16px 65px;
  transition: all ease 0.5s;
}
main section .section3 .section3_inner .more_news .more_news_link:hover {
  background: #ffbd54;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
main section .section3 .section3_inner .more_news .more_news_link:active {
  background: #ffbd54;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  opacity: 0.8;
}
main section .section3 .section3_inner .more_news .more_news_link::before {
  position: absolute;
  content: "";
  background-image: url(../images/section2/more_news.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 16px;
  left: 28px;
  top: 18px;
}

footer {
  background: #f3f3f3;
  border: 1px solid #ebebeb;
}
footer .footer_inner {
  padding: 61px;
  display: flex;
  box-sizing: border-box;
  /* justify-content: space-between; */
}
footer .footer_inner .footer_inner_links {
  display: flex;
}
footer .footer_inner .footer_inner_links .logo_block {
  margin-left: -100px;
}
footer .footer_inner .footer_inner_links .logo_block img {
  width: 158px;
  height: 76.74px;
  object-fit: contain;
  transition: all ease 0.5s;
}
footer .footer_inner .footer_inner_links .logo_block img:hover {
  opacity: 0.8;
}
footer .footer_inner .footer_inner_links .logo_block img:active {
  opacity: 0.6;
}
footer .footer_inner .footer_inner_links .link_block {
  display: flex;
}
footer .footer_inner .footer_inner_links .link_block .link_block_left a {
  display: block;
  margin-left: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 14px;
  width: 100%;
  transition: all ease 0.5s;
}
footer .footer_inner .footer_inner_links .link_block .link_block_left a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffbd54;
}
footer .footer_inner .footer_inner_links .link_block .link_block_left a:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.7);
}
footer .footer_inner .footer_inner_links .link_block .link_block_right a {
  display: block;
  margin-left: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 14px;
  width: 100%;
  transition: all ease 0.5s;
}
footer .footer_inner .footer_inner_links .link_block .link_block_right a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffbd54;
}
footer
  .footer_inner
  .footer_inner_links
  .link_block
  .link_block_right
  a:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.7);
}
footer .footer_inner .footer_inner_adress {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
}
footer .footer_inner .footer_inner_adress::after {
  position: absolute;
  content: "© 2020 example. All Rights Reserved.";
  bottom: -35px;
  right: -80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #5c5c5c;
}
footer .footer_inner .footer_inner_adress .work_days {
  position: relative;
  margin-left: 52px;
  width: 100%;
}
footer .footer_inner .footer_inner_adress .work_days::before {
  position: absolute;
  content: "";
  background-image: url(../images/footer/date.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -30px;
}
footer .footer_inner .footer_inner_adress .work_days p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
footer .footer_inner .footer_inner_adress .work_days span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
footer .footer_inner .footer_inner_adress .home_adress {
  position: relative;
  margin-left: 22px;
  width: 100%;
}
footer .footer_inner .footer_inner_adress .home_adress::before {
  position: absolute;
  content: "";
  background-image: url(../images/footer/adress.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -30px;
}
footer .footer_inner .footer_inner_adress .home_adress p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
footer .footer_inner .footer_inner_adress .telephone_numbers {
  position: relative;
}
footer .footer_inner .footer_inner_adress .telephone_numbers a {
  display: block;
  margin-left: 107px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  width: 100%;
  transition: all ease 0.5s;
}
footer .footer_inner .footer_inner_adress .telephone_numbers a::before {
  position: absolute;
  content: "";
  background-image: url(../images/footer/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 2px;
  right: 55px;
}
